# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtualenv
venv/
.env/
.venv/

# Node
node_modules/

# Git
.git/
.gitignore

# Docs & misc
*.md
*.bak
*.seed
*.pid
.vscode/
.idea/

# Docker configs (but not static/)
Dockerfile
compose.yml

# Don't exclude static/, so Tailwind can see input.css
