asgiref==3.8.1
azure-core==1.35.0
azure-storage-blob==12.26.0
bandit==1.8.6
black==25.1.0
bleach==6.2.0
boolean.py==5.0
CacheControl==0.14.3
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
cryptography==45.0.5
cyclonedx-python-lib==9.1.0
defusedxml==0.7.1
Django==5.2.2
django-appconf==1.1.0
django-ckeditor==6.7.3
django-compressor==4.5.1
django-js-asset==3.1.2
django-storages==1.14.6
filelock==3.19.1
flake8==7.3.0
gunicorn==23.0.0
idna==3.10
isodate==0.7.2
license-expression==30.4.4
markdown-it-py==4.0.0
mccabe==0.7.0
mdurl==0.1.2
msgpack==1.1.1
mypy_extensions==1.1.0
packageurl-python==0.17.5
packaging==25.0
pathspec==0.12.1
pbr==7.0.0
pillow==11.3.0
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.9.0
platformdirs==4.3.8
psycopg2-binary==2.9.10
py-serializable==2.1.0
pycodestyle==2.14.0
pycparser==2.22
pyflakes==3.4.0
Pygments==2.19.2
pyparsing==3.2.3
python-dotenv==1.1.1
PyYAML==6.0.2
rcssmin==1.1.2
requests==2.32.4
rich==14.1.0
rjsmin==1.2.2
setuptools==80.9.0
six==1.17.0
sortedcontainers==2.4.0
sqlparse==0.5.3
stevedore==5.4.1
toml==0.10.2
typing_extensions==4.14.1
urllib3==2.5.0
webencodings==0.5.1
whitenoise==6.9.0

django-cors-headers==4.7.0
